/*экран менее 650 рх: start*/
@media (max-width: 650px){

    /*уменьшить шрифт телефон и адрес*/
    .telefon__link {
        margin-right: 5px;
        font-size: 12px;
    }
    .adress {
        margin-top: 8px;
        font-size: 12px;
    }


/*№1 Корзина: оболочка Корзины*/
 .cart{
     width: 75vw;  
   /* width: 350px;*/
}

/*заголовок таблицы: стиль текста*/
.cart_header p{
    font-weight: 300;
    font-size: 13px;
}

/*Слово "Размер" двигаю*/
.hader_size{
    margin-left: -40px;    
    }

/*Уменьш.шрифт в строке Добавленного Товара*/
.cart_top{
    font-size: 13px;
}

 

/*Разделительная Линия <hr> в Корзине*/
hr {
    width: 70%;
    margin: 0 5px;
}

/*№2 Карточка ТОВАРА*/
/*выстроить в столбик */
.item {
    display: flex;
    flex-direction: column;
}

/*размеры фото в Карточке ТОВАРА 
.foto_item{
 
}*/

/*2.3 ячейка ПревьюТовара (preview) убрать*/
.preview_Item {
display: none;
}

/*№3 ДРУГИЕ Карточки ТОВАРОВ*/
/*При <650px ДругиеКарточки ПоЦентру*/
.other_item  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Фото: размер и отступ*/
.other_foto_item {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 5px;

}

/*Местоположение кнопки при  наведении на  КарточкаДругогоТовара*/
.btn_detail{
     top: 85px;
}


/*ФУТЕР*/
.footer {
    display: flex;
    flex-direction: column;
}
/*Футер. Колонка№1 (ссылки по сайту) */
.footer_links {
    background-color: #5EA03E;
    display: flex;
    flex-direction: row;
 
    justify-content:space-around;
}
/*Убрать слово МЕДИА*/
.footer_link_a:nth-child(3n ) {
display: none;
 
}

.footer_link_a {
    padding-right: 10px;
    font-size: 13px;
}

/*Футер. Колонка№2 (расписание)*/
.footer_shedule {
    display: none;
}


/*Футер. Колонка№3 (адрес+телефон)*/
.footer_address {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    padding: 10px 0 15px 0;

    font-size: 13px;
     background: rgb(1, 202, 159);
}

/*Футер. Колонка№4 (соцсети)*/
.footer_social {
    display: none;
}

}/*экран менее 650 рх: end*/

