@charset "utf-8";
/* CSS Document */

/*Блок футер = flex*/
.footer{
	display: grid;
	grid-template-columns: repeat(4, minmax(25%, 400px));
	/*margin-top: 20px;*/
}

/*Футер (ссылки). FLEX*/
.footer_links {
	background-color: #5EA03E;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding: 15px 0 15px 0;
	
}

.footer_shedule {
	background-color: #65C065;
	color: #4E4E4E;
}

.footer_address {
	background-color: #0E9076;
	color: #4E4E4E;
}

.footer_social {
	background-color: #96CCBA;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

/*слова в ссылках*/
.footer_link_a {
	text-decoration: none;
	line-height: 2em;
	color: #4E4E4E;
	
}

.soc_top_link {
	text-decoration: none;
	color: #454545;
	padding-right: 25px;
	box-sizing: border-box;
}


.svg__hover:hover {
	fill:red;
}
