@charset "utf-8";
/* CSS Document */

/*стили если экран менее 650 рх: start*/
@media (max-width: 650px){
	
	/*Лого не показываю если экран <650px*/
	.logo{
		display: none;
	}
	
	/*вкл. видимость менюБутерброда*/
	.menu__top{
		display: block;
	}
	
	/*смена стиля адреса в шапке*/
	.adress{
	display: none;
}
	.telefon__link{
		color: #FFF226;
	}
	
	/*текст на фоне бороц.зала*/
	.header__text{
	margin-top: 45px;
    margin-left: 30%;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    text-shadow: 4px 4px 11px #000000;
    filter: drop-shadow(4px 5px 8px black);
    
}
	/*стиль картинки борцовского зала*/
	.middle_header{
		grid-template-rows: 180px ;
	}
	
	/*скрыть Меню если экран <650px*/
	.nav__menu{
		display: none;
	}
	
	/*Стили для ГАМБУРГЕР*/
/*скрыл галочку у "checkbox", видим только ГАМБУРГЕР*/
#switcher {
	display: none;

}
	/*Показываю на экране <650px МенюГамбургера*/
	.nav{
	display: block;
	
	/*стили БлокаМенюГамбургера*/
	background-color: #fff;
	padding: 16px 16px 32px 32px;
	
	top: 35px;
	left: 0;
	width: 180px;
	 box-sizing: border-box;
	transition: right .3s;
	
	position: absolute;	
	}
	
	
	/*Стили для Появлен./исчезн. МЕНЮ */
	/*от клика на Гамбургер (ч/з id="switcher")*/
	#switcher:checked ~ .nav{
		/*right: -232px;*/
		
		/*убрал прокрутку и фантомное поле справа*/
		width: 0;
		visibility: hidden;
		display: none;
	}
	 /* #switcher:checked ~ .nav {
    right:  -100%;}*/ 

	.close_menu{
	padding-left: 85%;
	}
	
	
	/*стили для слов в МенюГамбургера*/
.nav__heading{
margin-bottom: 5px;
font-size: 16px;
line-height: 18px;
color: #000000;
}
	/*отступ м/у абзацамиМеню*/
.li_nodecor {
	list-style-type: none;
	margin-bottom: 20px;
	}
	
	/*стиль ЗаголокАбзацевМеню*/
	.color-h3-menu{
text-decoration: none;
font-size: 16px;
line-height: 19px;
color: #FF1700;
}
	/*Убрать СтильСсылок*/
	.nav__items{
	margin-left: 20px;
	list-style-type: none;
}
	/*стиль  СловАбзацев*/
.li_nolink{
text-decoration: none;
font-size: 16px;
line-height: 26px;
color: #6F6E6E;
}

/*КнопкаЗаписьНаСААМБО*/
.sh__head_zapis {
    
    justify-content: flex-start;
    margin: 15px 0 25px 35px;
}

/*6 плашек с РасписаниемПоДнямНедели*/
/*располжить в столбик по одному*/
.shedule__week {
    grid-template-areas:
    "day-1"
    "day-2" 
    "day-3"
    "day-4" 
    "day-5" 
    "day-6";
}

/*убрал фото из 6-ти плашек*/
/*центровка - получилось через flex*/
.week_day {
    display: flex;
	margin-left: 25px;
	justify-self: flex-start;
    border-radius: 8px;
    width: 450px;
}

/*задвинул влево плашку Самборулит*/
.ex2__popup {
    left: -320px;
}

/*расширил слайдер*/
.shedule__slider {
    display: block;
    
}
	
/*Смена Размера 2-х плашек ИЗОТОН*/
	
	.isoton {
		justify-content:flex-start;
		padding-left: 25px;
	}
	
	.isoton__shedule {
    display: grid;
    grid-template-columns: minmax(200px,450px);
    justify-self:auto;
 
     
}

	/*разрыв м/у 2-мя плашками ИЗОТОН*/
	.istn__day2{
		margin-top: 20px;
	}

	/*Кнопка записи на Изотон*/
	.istn_knopka_zapis{
 
	}
	
	/*уменьшить заголовок Изотон*/
.isoton__text {
	    color: #5A5858;
    font-size: 22px;

}

/*БлокЗаметки_УбралФото*/
.blog__left_foto {
    display: none;
}
.blog__club {
   grid-template-columns: minmax(250px, 400px) 100px;
   justify-content:flex-start;
   margin-left: 25px;
}


/*карточки товаров по 1 шт в ряду*/
.shop_all {
       grid-template-columns: 300px;
    justify-content:flex-start;
	padding-left: 25px;
}

/*контактная форма*/
.contact_all {

    display: inline-block;
    justify-content:flex-start;
	width: 80%;
    
}

/*КонтактнФорма_УбралКарту*/
.map_box {
  
    display: none;
}

/*Футер_ОставитьМеню-СоцСети*/
.footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
	justify-content: flex-start;
}

	
	
}/*стили если экран менее 650 рх: end*/






